<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{normal/Base::layout(~{::section})}">

<head>
	<meta charset="UTF-8" />
	<title>User Dashboard</title>
</head>

<body>
	<section>
		<div class="container justify-content-center col-md-10 offset-md-1">
			<div class="card mt-3">
				<div class="card-body text-center">
					<div class="container">
						<img th:src="@{'/image/'+${user.imageURL}}" th:alt="${user.name}" class="profile-pic"
							style="height: 150px; width: 150px" />
						<h1 class="mt-4 font-italic text-secondary">Start Adding Your
							Contacts</h1>
						<a th:href="@{/user/addcontact}" class="btn btn-info text-white btn-lg w-100 my-2">Add New
							Contact</a>
					</div>
					<h1 class="mt-3 font-italic text-secondary">Donate</h1>
					<div class="d-flex flex-column flex-sm-column flex-md-row gap-2">
						<input type="number" id="payment-field" class="form-control form-control-lg my-1 ip"
							placeholder="Enter amount here" />
						<button id="clicked" onclick="paymentStart()" class="btn btn-success btn-lg my-1">Pay</button>
					</div>
				</div>
			</div>
		</div>

		<script>
			$(document).ready(() => {
				$(".item").removeClass("active");
				$("#dashboard").addClass("active");
			});
		</script>
		<script src="https://checkout.razorpay.com/v1/checkout.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
		<script>
			const paymentStart = () => {
				console.log("Payment started.");
				let amount = $("#payment-field").val();
				console.log("Amount : ", amount);

				if (amount == "" || amount == null) {
					swal("Failed !", "Amount is required !", "error");
					return;
				}

				$.ajax({
					"url": '/user/create-order',
					"data": JSON.stringify({ amount: amount, info: 'order_request' }),
					"contentType": 'application/json',
					"type": 'POST',
					"dataType": 'json',
					"success": function (response) {
						console.log("Order created successfully:", response);
						if (response.status == "created") {
							let options = {
								key: "rzp_test_j9cJGo7tAAzXKE",
								amount: response.amount,
								currency: "INR",
								name: "Smart Contact Manager",
								description: "Donation",
								image: "https://scontent.fnag1-5.fna.fbcdn.net/v/t39.30808-6/371908688_2019099471796003_2276111562316110382_n.jpg?_nc_cat=105&ccb=1-7&_nc_sid=5f2048&_nc_ohc=rcTMHRj7_ZAQ7kNvgEmbzeU&_nc_ht=scontent.fnag1-5.fna&oh=00_AYA6f2W5tvheuvn_kSHa8aNrgTpZxWOzSaDNW1-yUOeqZQ&oe=6659CE9F",
								order_id: response.id,
								handler: function (response) {
									console.log("Payment successful:", response);
									swal("Congrats !", "Payment successful !", "success", {
										button: "Back To Dashboard !",
									});
									$("#payment-field").val('');
								},
								prefill: {
									"name": "Apurrv",
									"email": "iamapurrv@gmail.com",
									"contact": ""
								},
								notes: {
									"address": "SCM"
								},
								theme: {
									"color": "#3399cc"
								},
								method: {
									"upi": true,
									"card": true,
									"netbanking": true,
									"wallet": true
								}
							};

							var rzp = new Razorpay(options);
							rzp.on('payment.failed', function (response) {
								console.log("Payment failed:", response);
								swal("Failed !", "Oops payment failed !", "error", {
									button: "Back To Dashboard",
								});
							});

							rzp.open();
						}
					},
					"error": function (error) {
						console.log("Error creating order:", error);
						swal("Failed !", "Check your internet connection !", "error", {
							button: "Back To Dashboard",
						});
						alert("Check your internet connection !")
					}
				});
			}
		</script>
	</section>
</body>

</html>