<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="base::layout(~{::section})">

<head>
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta charset="UTF-8" />
	<title>Home Page</title>
	<!-- Additional Bootstrap CSS -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
		integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous">
	<!-- Custom CSS -->
	<link rel="stylesheet" href="styles.css">
</head>

<body>

	<section class="container-fluid d-flex justify-content-center align-items-center text-white"
		style="height: 100vh; background-image: linear-gradient(90deg, rgb(160, 222, 219), rgb(3, 165, 209));">
		<div class="container text-center">
			<h1 class="display-3 fw-bold mb-5" style="font-family: Copperplate, Papyrus, fantasy;"><i>Smart Contact Manager</i></h1>
			<p class="lead fw-semibold mb-4"><i>Upgrade the way you manage your contacts.</i></p>
			<a th:href="@{/login}" class="btn btn-lg btn-success">Get Started</a>
		</div>
	</section>

</body>

</html>